/* Estilos generales */
.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #d2b992;
}
.foto{
    width: 15%;
    border-radius:180px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #000000;
    margin-top:5%
}
.texto-pre{
    margin-left: 13%;
    margin-right: 8%;
    font-family:"Lucida Console"
}
.tecno{
    width:500px;
    height:300px;
    margin-left: 33%;
}
.container-yo{
    width: 500px;
    height:400px;
    background-color: #e0f9bb;
    text-align: center;
    margin-left:33%;
    margin-top:7%;
    border-radius: 15px;
}
.container-yo-centro{
    width: 400px;
    height:310px;
    background-color:#d8bf91;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    text-align: start;
}
.contenedor {
    text-align: center; 
}
.div-interno {
    display: inline-block; /* Coloca los divs internos en línea */
    width: 400px; /* Ancho de cada div interno */
    height: 300px; /* Altura de cada div interno */
    background-color: #e0f9bb; /* Color de fondo */
    margin: 10px; /* Margen entre los divs internos */
    border-radius:10px
}
.compu{
    width: 90px; /* Ancho de cada div interno */
    height: 70px;
}
.texto-ar{
    font-weight: bold;
}
.textos-in{
    display: inline-block;
    margin: 10px; /* Margen entre los divs internos */
    border-radius:10px;
    font-weight: bold;
    background-color: #d8bf91;
}
.titulo{
    margin-left:40%;
}
.titulo-2{
    margin-left:43%;
}
.titulo2{
    margin-left:35%;
}
.imagen-proy{
    display: inline-block; /* Coloca los divs internos en línea */
    width: 400px; /* Ancho de cada div interno */
    height: 300px; /* Altura de cada div interno */
    margin: 10px; /* Margen entre los divs internos */
    border-radius:10px;
    transition: transform 0.3s;
}
.imagen-proy:hover {
    transform: scale(1.2); /* Agrandar la imagen al 120% del tamaño original */
}
.contenedor-2{
    text-align: center; 
    width:100%;
    background-color:#e0f9bb;
}
.texto-centro{
    text-align: center; 
    width:40%;
    background-color:#fff;
}
.contenedor-3{
    text-align: center; 
    width:60%;
    background-color:#D5D5D5;
    margin-left:auto;
    margin-right:auto;
    border-radius:10px;
}
.texto-centro{
    margin-left:auto;
    margin-right:auto;
    background-color:#D5D5D5;
}
.correo{
    height:30px;
    width:30px
}
.imagen-logo{
    display: inline-block; /* Coloca los divs internos en línea */
    width: 60px; /* Ancho de cada div interno */
    height: 60px; /* Altura de cada div interno */
    margin: 10px; /* Margen entr*/
}